<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white">Error</div>
                <div class="card-body">
                    <h5 class="card-title">No hay inventario disponible</h5>
                    <p class="card-text">Lo sentimos, actualmente no hay inventario disponible para este producto.</p>
                    <a th:href="@{/home}" class="btn btn-primary">Volver a la página principal</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
