<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Motoverso</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:insert = "~{admin/template_admin::header}"></div>

<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Inventario
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/admin/products/show}">Inventario</a></li>
    <li class="breadcrumb-item active">Unidades</li>
  </ol>

  <a class="btn btn-primary" th:href="@{/admin/products/stock/create-unit-product/{id}  (id = ${idproduct}) }" > Añadir unidades</a>
  <h2>Inventario</h2>
  <table class="table">
    <thead>
		<th scope="col">Fecha Registro</th>
        <th scope="col">Entrada/Unidades</th>
        <th scope="col">Salida/Unidades</th>
        <th scope="col">Descripción</th>
		<th scope="col">Saldo/Unidades</th>	
      </tr>
    </thead>
    <tbody>
      <tr th:each="stock:${stocks}">
        <td th:text = "${stock.dateCreated}"></td>
        <td th:text = "${stock.unitIn}"></td>
        <td th:text = "${stock.unitOut}"></td>
        <td th:text = "${stock.description}"></td>
		<td th:text = "${stock.balance}"></td>
      </tr>       
    </tbody>
  </table>

</div>
<!-- /.container -->

<!-- Footer -->


  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
